{% extends 'Base.html' %}


{% block content %}

<div class="row">

        <div class="col-sm-4">
            <h4 class="text-center alert alert-info">User Profile</h4>
            <form action="" method="GET" novalidate>
                {% csrf_token %}
                <strong>
                    {% for message in messages %}
                    <div class="container-fluid p-0">
                      <div class="alert {{ message.tags }}" role="alert" >
                        {{ message }}
                      </div>
                    </div>
                    {% endfor %}
                </strong>
                {{form.as_p}}
                <input type="submit" class='btn btn-success ' value="add_user">
            </form>
        </div>
    </div>
    
{% endblock content %}